body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
img{
  width: 150px;
  height: 150px;
  margin-top: 2rem;
}
input{
  width: 200px;
  height: 25px;
}
button {
  width: 110px;
  background-color: tomato;
  border: none;
  border-radius: 20px;
  height: 30px;
  margin-left: 20px;
  font-size: 17px;
  color: white;
}
.image-container {
  position: relative;
  display: inline-block; 
}

.tooltip {
  visibility: hidden; 
  width: 120px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 15%;
  opacity: 0; 
  transition: opacity 0.3s; 
}

.image-container:hover .tooltip {
  visibility: visible; /* Show tooltip on hover */
  opacity: 1; /* Fade in effect */
}
